{% extends "base.html.twig" %}
{% block title %}Chevalet
{% endblock %}
{% block body %}
	<h1>Chevalet Unique</h1>
	<div class="col-2 col-form-label">
		{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
		<div class="form-group row">{{ form_row(form.nom) }}</div>
		{{ form_row(form.prenom) }}
		{{ form_row(form.fonction) }}
		<br>
		<button type="submit" class="fr-btn">Valider</button>
		{{ form_end(form) }}</div>

	<a class="fr-btn" href={{ path('home') }}>
		Retour à l'accueil
	</a>
{% endblock %}
