{% extends "base.html.twig" %}
{% block title %}
    Boîte à Outils
{% endblock %}
{% block body %}
    <h1>
        Documents pour réunions
    </h1>

    <div class="fr-card fr-enlarge-link fr-card--download">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    <a href="{{ asset('/download/modele-reunion.xls') }}" download>
                        Télécharger le fichier
                    </a>
                </h3>
                <p class="fr-card__desc">Fichier excel à remplir</p>
                <div class="fr-card__end">
                    <p class="fr-card__detail">XLS – 86,0 ko</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2 col-form-label">
        {{ form_start(form) }}
        <div class="form-group row ">{{ form_row(form.fichier) }}</div>
        {{ form_row(form.document) }}
        <button type="submit" class="fr-btn">Valider</button>
        {{ form_end(form) }}
    </div>


    <a class="fr-btn" href={{ path('home') }} >
        Retour à l'accueil
    </a>
{% endblock %}
