{% extends "base.html.twig" %}
{% block title %}
    Boîte à Outils
{% endblock %}
{% block body %}
    <h1>
        Documents pour réunions
    </h1>

    <div class="fr-card fr-enlarge-link fr-card--download">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h3 class="fr-card__title">
                    <a href="{{ asset('/download/modele-reunion.xls') }}" download>
                        Télécharger le fichier
                    </a>
                </h3>
                <p class="fr-card__desc">Fichier excel à remplir</p>
                <div class="fr-card__end">
                    <p class="fr-card__detail">XLS – 86,0 ko</p>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.fichier) }}
    {{ form_row(form.document) }}
    {{ form_end(form) }}
    <input class="fr-btn" type="submit">
    <a class="fr-btn" href={{ path('home') }}>
        Retour à l'accueil
    </a>
{% endblock %}
